h1{
  font-family: cursive ;
  font-size: 70px ;
  margin: 0 0 0 0 ;
  color: #00059F ;
}
body{
  background-color: #005DEC  ;
}
p{
  margin: 0 0 0 0 ;
  font-size: 40px ;
  color: cyan ;
}
.image{
  margin: 10px 0 0 0 ;
}
a{
  color: cyan ;
  font-style: italic;
}
a:visited{
  color: #0026A5 ;  
}
